<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Room</title>
    </head>

    <body>
        <h1>My Room</h1>
        
        <h4>Room #1</h4>

        <ul>
            <li>Temperature : 20 - Humidity : 30 - Timestamp : 123123123</li>
            <li>Temperature : 22 - Humidity : 34 - Timestamp : 123123124</li>
            <li>Temperature : 23 - Humidity : 36 - Timestamp : 123123125</li>
        </ul>
    </body>
</html>